#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.slide-out-notification {
  position: fixed;
  right: 20px;

  width: 300px;
  animation: slide-out 10s forwards;
  transform-origin: top bottom;
}

@keyframes slide-out {
  0% {
    transform: translateX(0) scaleY(1);
  }
  100% {
    transform: translateX(100%) scaleY(0);
  }
}
